[2017-04-09 04:37] studiospring commented on #68
Before this issue gets shut down, I'd like to throw my 2 cents in there. It is worth considering the other logos of the open source family and keep ours consistent with that family. It is also important not to cause confusion with other logos (like the Open Source Robotics Foundation).
![oshardware](https://cloud.githubusercontent.com/assets/4901306/24834751/83ac9756-1d31-11e7-8750-824f594272ab.pn

[2017-04-09 07:24] studiospring commented on #79
I'll be using this issue to keep everyone abreast of developments in the Discourse forum until members here have an opportunity to sign up to the forum. At present it is invite only and there are some areas which are not visible to the general public.

Firstly, @grahamperrin has kindly asked me to be a co-administrator of the forum, which is why I am keeping everyone up to date. Things are obvious

[2017-04-09 08:48] grahamperrin commented on #79
If I understand correctly: for OSD members (who use GitHub) there should be no need to _sign up_.

## Building a Discourse community

The build should not be in isolation; I'll add to #73.

## GitHub

The option to use GitHub for authenticated access to the forum was enabled a few days ago –

![open source design log in with github](https://cloud.githubusercontent.com/assets/192271/24835983/20d187

[2017-04-09 10:11] grahamperrin commented on #73
Recommended reading, for anyone with an interest in preparations for the forum:

- [Building a Discourse Community](https://blog.discourse.org/2014/08/building-a-discourse-community/) (2014-08-01)

– in particular, _What is your community’s purpose?_

Re: https://github.com/opensourcedesign/organization/issues/12 it's clear (from the **mission** part of the by-laws) that OSD is:

## Towards an ele

[2017-04-09 10:17] grahamperrin commented on #12
When that line is read in isolation, the word _material_ is quite vague, generic.

Can anyone think of a more descriptive word (or short phrase) that might make that line, alone, more descriptive?

(At the time of writing: I can not, sorry!)

[2017-04-09 18:07] elioqoshi commented on #68
@studiospring pretty sure most of the logos you mentioned are against OSI Trademarks. I think OS Hardware also changed it.

Again, we are mostly doing this change to abide with OSI's ask to change the logo, rather than finding our "true self".

[2017-04-09 20:36] ei8fdb commented on #68
I get busy at work for a month and discussions explode! I can't keep up with all the discussions!

I really like the identity @linchocolatte has created. I think it lends itself to more than just a logo. I also like the way she has given some

Yes it is different from the Open Source Initiative inspired logo but...look where that got us. ;)

@linchocolatte I like the [first riff you did combining

[2017-04-09 20:45] ei8fdb commented on #12
Hea @simonv3, where is the most up-to-date copy of the proposed bylaws? Is it the piratepad listed above? Or somewhere else? Ta!

[2017-04-09 21:31] ei8fdb commented on #73
@studiospring can you give some specific questions you might want to answer as part of "how successful our efforts are....which strategies work and which do not"

Finally someone mentions users and understanding them!

I think you'll find the (current) OSD community is more diverse than what you've mentioned here. But I completely agree with you - we need to find out about our community members.

[2017-04-09 21:52] studiospring commented on #73
@ei8fdb great to find another interested member! As an open source project, I am trying to make it as collaborative as possible. Anyone can be involved in (almost) any part of it. At the moment, I am thinking of waiting until the Discourse forum is officially open and members have settled in before creating the survey repo.

[2017-04-09 22:03] ei8fdb commented on #79
Do we have an idea what work items are? Do we need to explain them?

Looking for/giving advice about research and design? Posting messages about events/jobs with links to the OSD website/other places. As @evalica said "if someone has some ideas or wants to brainstorm".

From @jancborchardt and @evalica's messages I read the only things we put in GH issues is website/repo tasks and the conversation

[2017-04-09 22:28] ei8fdb commented on #73
It would be interesting to get a better understanding of our current community, since our beginning. It might make for an interesting comparison once the Discourse site is in use.

I have met many people and still don't know 70-80% of people's backgrounds.

[2017-04-09 22:59] grahamperrin commented on #79
Back to #69

[2017-04-10 00:38] grahamperrin commented on #77
[2017-03-14](https://github.com/opensourcedesign/organization/issues/69#issuecomment-286352444):

[2017-03-17](https://github.com/opensourcedesign/organization/issues/73#issuecomment-287397025):

[2017-03-21](https://github.com/opensourcedesign/organization/issues/77#issuecomment-288251552):

Whilst I love clarity and consistency, I don't require things to be _defined_.

I value professionalism, i

[2017-04-10 00:39] studiospring commented on #79
I suggest not taking that option until after it has been improved to use the github_client_secret for opensourcedesign.

@grahamperrin thanks for the clarification. In which case, invites are not really needed except to inform members who are inactive.

[2017-04-10 01:08] studiospring commented on #68
Thanks, @elioqoshi. Didn't know that. Is the OSI's request to us publicly or privately available? I would be interested to understand their concerns. Having an affiliation reflected in the logo seems like a positive to me.

[2017-04-10 01:28] studiospring commented on #73
That could be done in the survey by comparing current GitHub members with other respondents.

By using [user cards](https://meta.discourse.org/t/what-are-user-cards/44093) that should be easier in Discourse than in GitHub. Personally, I would also like pre-defined icons next to a person's avatar/name, but that's another issue...

[2017-04-10 01:50] grahamperrin commented on #68
AFAICT the first post from _massonpj_ to an https://github.com/opensourcedesign issue was https://github.com/opensourcedesign/events/issues/43#issuecomment-268285534 (2016-12-20).

[2017-04-10 03:25] simonv3 commented on #12
@ei8fdb here: http://opensourcedesign.net/by-laws/

which lives here: https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/by-laws.md

[2017-04-10 07:22] grahamperrin commented on #12
:+1:

When I first found `/by-laws/` I thought that _By-laws_ was not the best title for the page content.

The _mission statement_ belongs elsewhere. Repetition dilutes the page. If the mission is properly promoted elsewhere (not at `/by-laws/`) then still, _by-laws_ is not the phrase that I would choose.

I associate laws and by-laws with _conduct_.

Resist the temptation to merge information th

[2017-04-10 13:51] elioqoshi commented on #68
@studiospring Yep, it was public as @grahamperrin mentioned. That's priority for now.

We are way too much bikeshedding here I fear. If we go on like this we won't be resolving this matter any time soon.

[2017-04-10 14:30] grahamperrin commented on #79
A preview of how the front page of the forum might appear after things become open to the public:

![initial](https://cloud.githubusercontent.com/assets/192271/24866461/12939110-1e02-11e7-8ad0-e4ad323c7b93.png)

After dismissing the banner:

![after dismissing the banner](https://cloud.githubusercontent.com/assets/192271/24866460/12931190-1e02-11e7-84b5-a2c38daa61b4.png)

If you would like to prop

[2017-04-10 14:47] jdittrich commented on #68
So, what about the square or the D that @jancborchardt proposed way up? Seems to be the quickest fix.

[2017-04-10 14:59] jdittrich commented on #73
It was suggested to do wording suggestions for the banner on discourse here. I am not sure if that is the right place and would rather see this at #79.

Wording:

* I would ditch the "goals such as these" list. It makes it long and weakens the goals already stated: "pushing more open design processes and improving the user experience and interface design of open source software."
* "In this forum,

[2017-04-10 15:05] grahamperrin commented on #68
Both versions of the **D** appear to be at risk of toppling over, to the right, and then rocking on the curve of the letter.

----

Overwhelmingly, unavoidably: the logo that I most often associate with Open Source Design is the GitHub logo. So I'm not averse to future bike sheds :-) leading to a _great_ logo (or combination of logos) but for now, I'll settle for any logo that is _satisfactory_.

[2017-04-10 21:08] ei8fdb commented on #73
@jdittrich I also was confused by the suggestion to post here.

I agree. The start page will show whats available to the user without the need to explain it to the user.

Ditto.

I keep harping on about user research and so I'd like to ask "researchers" to be included...so to read:

[2017-04-10 22:02] grahamperrin commented on #73
In this issue, because the forum is not an isolated channel.

A strategic approach should offer reasonably consistent messages, consistent definitions of the community, across **all** channels.

[2017-04-11 00:28] simonv3 commented on #68
@massonpj does the OSI mind if we start up a new platform of discussion (we'll use it discussing the logo redesign process) and use the current Open Source Design logo (the circle with the paintbrush) in the header of that platform for our own brand consistency?

[2017-04-11 08:55] jdittrich commented on #73
@ei8fdb:
* I would love more *researchers* as well.
* OR we could ditch the specific roles (do they matter?) and go for community of people/enthusiasts/…
* OR say: 'designer and developer' they are just a graspable stand-in for 'cross disciplinary work'

@grahamperrin: Ok, I saw this as a clarification of @bnvk’s ideas not as our general strategy discussion. @bnvk – or should it be?

[2017-04-11 13:05] massonpj commented on #68
Hi @simonv3, unfortunately the OSI cannot give consent to use a logo we consider to be infringing on our own marks. In a response to @studiospring I discussed this a bit: https://github.com/opensourcedesign/events/issues/43#issuecomment-293251166

Of course, we rely on the good will of the community, and realize the whole OpenDesign community is engaging honestly, openly and transparently to remed

[2017-04-11 13:53] elioqoshi commented on #68
Can we please go ahead with the square OSD logo proposal to solve this and if there is really a need to rebrand we can do so later? We have to solve the matter with OSI first before we talk about our identity.

[2017-04-11 15:14] simonv3 commented on #68
@massonpj thanks for the very quick response!

@elioqoshi - I agree. I think we should use the square logo for now, switch all of our branding, and continue the conversation with the full knowledge that we're going to continue designing the logo and identity. Can you get us an svg of the logo?

# Vote

## Can we use the temporary square logo to solve the OSI logo while we figure out our brand and

[2017-04-11 19:04] grahamperrin commented on #68
I might change my vote in an hour or less but at the time of writing I prefer [the hexagon](https://github.com/opensourcedesign/organization/issues/68#issuecomment-292762390) (above, with an upvote from Eli Schiff).

I'll experiment with the square at the forum, but please give me time.

[2017-04-11 22:04] simonv3 commented on #68
@grahamperrin I understand this vote as not as much about which of the propositions you prefer but rather about using a placeholder so that we can move on from the OSI issue while we figure out our identity as a whole.

[2017-04-11 22:40] grahamperrin commented on #79
Re: https://github.com/opensourcedesign/organization/issues/68#issuecomment-293368474 here's an example of the square logo, in the context of preparations for go live of the forum:

![square](https://cloud.githubusercontent.com/assets/192271/24933656/51e2c382-1f0f-11e7-87a1-cc8e7eec14a9.png)

Compare with the hexagonal logo, in context, at https://github.com/opensourcedesign/organization/issues/79

[2017-04-11 22:56] grahamperrin commented on #68
Understood, thanks.

https://github.com/opensourcedesign/organization/issues/79#issuecomment-293421171 is the promised experiment with the square.

My suggestion for a placeholder is [the hexagon](https://github.com/opensourcedesign/organization/issues/68#issuecomment-292762390).

I see a lack of harmony between the square and the circles.

There's not _great_ harmony between a hexagon and circles

[2017-04-12 07:48] ei8fdb commented on #79
I'm a bit confused now. Can someone tell me if the discourse.osd is now live or not?

I've tried to register over the last 2-3 days but the Github account linkage isn't working. I see mentions of invites, but don't understand how they are sent/who needs to request one.

[2017-04-12 07:57] ei8fdb commented on #73
@jdittrich In reality of the work I don't care about job roles, I care that the research is being done, properly. If the person doing the research, design, and development is the same person, great. Difficult, but great.

I expect the subject of research to be mentioned. That is the important point.

The lack of research into whats actually needed gets us where we are with crappy software.

What a

[2017-04-12 10:58] grahamperrin commented on #68
Sorry, I only just found this edition (and from GitHub, I can't tell when the edition occurred compared to the original):

If it helps towards a shared understanding:

- I have "no objection" to temporary/interim use of either the hexagon or the square.

(Please, have I understood things correctly?)

My downvote, which I have removed to avoid misunderstanding, was not an objection to the temporary

[2017-04-12 11:06] jancborchardt commented on #68
The square logo source is at https://cloud.jancborchardt.net/s/opensourcedesignlogo as posted above:
![opensourcedesign-logo-square](https://cloud.githubusercontent.com/assets/925062/24954635/830e2db8-1f80-11e7-9cd8-acd178c70c60.png)
(opensourcedesign-logo-square.svg) cc @simonv3

@massonpj thanks a lot for your patience. Logo redesigns take some time, especially in such a big community, of design

[2017-04-12 11:09] grahamperrin commented on #68
## Additional clarification

If my posts about the hexagon were misinterpreted as a proposal for _long-term/permanent_ use of the hexagon: sorry; that was not my intention. I did read, and continue to read, this issue 68 in the context of earlier/broader issues such as https://github.com/opensourcedesign/events/issues/43 where (unless I'm missing something) there are no oppositions to other sugges

[2017-04-12 11:28] bnvk commented on #73
Closing this issue as it has become far too meta-meta and branching into far too many splinters to be useful for achieving anything or even for me to follow along.

[2017-04-12 11:28] #73 closed

[2017-04-12 11:28] evalica commented on #79
@ei8fdb the server is on, but it's not available to the public yet. There are like 5 people on it. We currently don't have the admin, so we rely on grahamperrin and studiospring. They wanted to do some prestuff, like creating some categories, decide on administrators. It should be public ASP, but we don't have control over it.

[2017-04-12 11:29] bnvk commented on #78
Closing as there is no action items here (and if there was) they should filed on the [website repo](/opensourcedesign/opensourcedesign.github.io)

[2017-04-12 11:29] #78 closed

[2017-04-12 11:32] bnvk commented on #63
Since core@ exists now, that is sufficient so closing (for now)!

[2017-04-12 11:32] #63 closed

[2017-04-12 11:49] bnvk commented on #79
I've been fully supportive of setting up and having a Discourse as a forum for general discussion pertaining to OSD, but *not* for content. Content is what our **website** is for. I don't recall this ever being something we desired doing. Regarding the Discourse platform:

- Sign up to discuss should be 100% open for any public persons
- The only aspect which should require being "invited" are adm

[2017-04-12 12:00] grahamperrin commented on #79
@bnvk yes there are blocks, some of which are being discussed in multiple channels.

## GitHub

It was suggested to me that the routine should become _opensourcedesign_-oriented. (Better that, than association with my _grahamperrin_ GitHub account. Of course I agreed.)

Without delay I did what was required to the Discourse side of things; that's when (as I half-expected) GitHub-based authenticati

[2017-04-12 12:12] grahamperrin commented on #79
In as few words as possible (I politely beg for this conversation to not span three or more channels (and attempting to follow things such as this in GitHub is _excruciatingly_ painful)): on the morning of Thursday 6th April, a core committer to OSD was asked whether they would like to be a joint administrator. I hope that we're close to progressing such things.

[2017-04-12 12:23] bnvk commented on #79
I'm aware of these multiple channels of discussion...

@grahamperrin I believe Github login / signup functions separate from normal email signup, which is what I mean with:

- Sign up to discuss should be 100% open for any public persons

One of the whole points of OSD having Discourse is so people who don't like or use Github can participate in discussions- in which case, Github signup is not nee

[2017-04-12 12:28] grahamperrin commented on #79
I politely begged, and what happened.

The public oversimplification of matters that I preferred to be private is horribly destructive.

[2017-04-12 13:32] bnvk commented on #79
@grahamperrin what is being oversimplified? What has been horribly destructive?

I'm just trying to make progress and get to the next step of a functioning
Discourse instance as per our community processes...

We are still really grateful for you taking the lead and making as much progress
as you have :)

[2017-04-12 14:42] #79 closed

[2017-04-12 15:09] grahamperrin commented on #79
With additional emphasis: matters that I preferred to be **private**.

Again: **private**.

Logically, and [respectfully](http://opensourcedesign.net/code-of-conduct/), I beg people to **refrain from asking "what" in public**; it simply will not be answered by me in public, and I sincerely hope that other people will – conscientiously, colletively and individually – demonstrate respect by showing

[2017-04-12 15:18] evalica commented on #79
I believe that **public** discussions are the base for any open source related interaction. To be honest I'm not sure what the outcome of these discussions will be, since there is a barrier/difference in the way we usually do things. We are going in circles between the preferences of X vs. Y. We should try to focus on the well being of the community.

So in order to progress, please give admin rig

[2017-04-13 09:28] jancborchardt commented on #63
Since we are transparent about all our decisions, here’s the people currently being part of this core@ forwarder, and their Github handles. Next to it also the reasoning for their addition to this list, as reference and also to get to know each other more :) (let me know if I forgot anything)

- Belen Barros Pena @belenbarrospena - co-starting this initiative, co-organizing the first FOSDEM Open S

[2017-04-13 10:54] jancborchardt commented on #68
The forum at https://discourse.opensourcedesign.net now uses the square logo, and I also changed it to the square version at https://twitter.com/opensrcdesign and https://github.com/opensourcedesign

Will also clean up the logos in our website repository. :)

[2017-04-13 11:09] jdittrich opened #83 "By-Laws: Confusing double list"
Our by-laws are currently shown on http://opensourcedesign.net/by-laws/ (they are not linked from the main page, so I assume this is still Work in progress?) and were recently referenced in some [discussions like this](https://discourse.opensourcedesign.net/t/osd-etiquette-netiquette/49).

Under the line "Before taking initiative, here’s a useful checklist:" there are two lists, a [ ] bulleted (ch

[2017-04-13 15:56] jancborchardt commented on #79
Thanks to @evalica for the on-point comment and for @bnvk to make the instance public. Folks, sign up at https://discourse.opensourcedesign.net and participate in the discussions.

Before we spread the word more, I’d like this private/public stuff to be resolved. For the threads which are currently private I see two resolutions, which has to be decided on a case-by-case basis on every topic:
1. It

[2017-04-13 16:39] jancborchardt commented on #17
So ever since we opened the account, there is no single post on it: https://medium.com/open-source-design

As said in https://github.com/opensourcedesign/opensourcedesign.github.io/issues/27#issuecomment-293953812:

[2017-04-13 17:03] simonv3 commented on #83
@jdittrich let me know what you think of the changes I proposed in #92.

[2017-04-13 19:49] simonv3 commented on #63
Should we list the above somewhere more publicly like on our website?

[2017-04-13 20:04] Incabell commented on #59
Hey everyone,

sorry again for the late response. I hope @evalica 's edits will do since they are purely related to updating the Xwiki software. I don't know how they judge that kind of thing, maybe they simply look at the edit count? But either way definitely worth a try. Also it's always better if a couple of people apply for the funding together. Is there anyone else who could join the applicat

[2017-04-14 00:05] simonv3 commented on #53
Update: I've started editing in your original post @jancborchardt to keep it all in one place, based on @massonpj's feedback. There's some PRs in the works :)

[2017-04-14 07:26] elioqoshi commented on #17
Was not aware we had a Medium account. I suggest we get rid of it as the irony of using another proprietary platform is too overwhelming here.

[2017-04-14 11:00] m1guelpf commented on #50
@simonv3 @jancborchardt I've recieved multiple messages of users that can't join OSD using OrgManager. I've debugged and the cause seems to be a GitHub authorization error: "You must be an organization owner or team maintainer to add a team membership." It seems that the person who registered OSD into OrgManager's privileges were revoked and that person no longer has admin access to the People tea

[2017-04-14 15:01] simonv3 commented on #50
Wasn't I that person?

[2017-04-14 18:20] m1guelpf commented on #50
@simonv3 Reading TVE los, it seems like GitHub throwed an unauthorized issue with "Must have admin rights to Repository" when you tried to sync teams...

[2017-04-14 18:28] simonv3 commented on #50
@m1guelpf I have admin rights though. Are you sure it's requesting the rights in my name?

[2017-04-14 18:36] m1guelpf commented on #50
@simonv3 I've just tried to retry the requests manually using hurl.it, and here is the response:

![screenshot_2017-04-14-20-34-58](https://cloud.githubusercontent.com/assets/23558090/25052407/f90d25c8-2151-11e7-9418-809434b22798.png)

[2017-04-14 18:38] m1guelpf commented on #50
@simonv3 I've deleted the GitHub token fron the database, could you please logout and login again?

[2017-04-14 18:46] simonv3 commented on #50
@m1guelpf I did and no luck. Maybe we should chat on IRC?

[2017-04-14 18:57] m1guelpf commented on #50
@simonv3 Maybe we could chat in the OrgManager gitter: https://gitter.im/orgmanager

[2017-04-14 19:18] m1guelpf commented on #50
@simonv3 Also, could you try to revoke the OrgManager oAuth permission and login again (https://github.com/settings/connections/applications/10b01d866046f040c9f1) or, if that doesn't work, maybe another admin can sign up and I can manually change the user ID in the database... It seems to be working for the rest of organizations...

[2017-04-14 19:27] m1guelpf commented on #50
Seems like Gitub had revoked somehow the permissions for OrgManager... fixed now. I will open a ticket with GitHub later to know more... Thank you @simonv3 !

[2017-04-14 19:27] #50 closed

[2017-04-14 19:28] simonv3 commented on #50
Thank _you_ @m1guelpf!

[2017-04-15 07:22] elioqoshi commented on #68
@jancborchardt I think the logo on the main page is way too big. Can we make it smaller? Also, the font used there is different (it should be Montserrat IIRC)

[2017-04-17 20:45] jancborchardt commented on #63
@simonv3 I think so, at least on the Code of Conduct report page. Otherwise I’d still prefer that we don’t refer that often to a »core« group except when necessary.

[2017-04-18 08:52] m1guelpf commented on #19
Any updates on this?

[2017-04-18 15:22] simonv3 commented on #19
@m1guelpf nope! I don't think there'd be much buy-in from Sandstorm at this point.

[2017-04-19 17:01] jancborchardt commented on #19
Yeah, we should keep our platforms a bit lean and publish stuff as early as possible. Bylaws can be discussed in an issue (or forum post) and then published on the website and edited there. That also helps with us trying to "finish" stuff before publishing and then not doing it for a long time. :)

[2017-04-19 17:01] jancborchardt commented on #19
So – I’d say we close this? What do you think @simonv3?

[2017-04-19 17:07] jancborchardt commented on #59
@Incabell I could be a co-applicant, have some edits at https://en.wikipedia.org/wiki/Special:Contributions/JanCBorchardt

Anyone else with some edits @victoria-bondarchuk @elioqoshi @simonv3 @belenbarrospena @bnvk others? :)

[2017-04-19 17:10] jancborchardt commented on #83
Closing since it was fixed through https://github.com/opensourcedesign/opensourcedesign.github.io/pull/92 :)

(@simonv3 do you know if you put `fix #83` in the commit message, the issue will automatically be closed if the pull request is merged? :)

[2017-04-19 17:15] jancborchardt commented on #70
Alternatively there’s also https://webchat.freenode.net/?channels=opensourcedesign – but of course the Lounge is a way nicer interface. :) (And I hope soon freenode webchat will be able to run it.)

https://github.com/thelounge/lounge

[2017-04-19 17:48] jancborchardt commented on #17
I mailed @razetime about removing this Medium account and the Facebook account (https://github.com/opensourcedesign/opensourcedesign.github.io/issues/27) :)

[2017-04-19 18:43] jancborchardt opened #84 "Domain contacts for opensourcedesign.net"
In the interest of reducing bottlenecks, I would like to add other people to the domain too. This is useful for when we need to change DNS entries or other configuration.

The domain is registered at https://gandi.net and next to Owner there are Administrative contact, Technical contact and Billing contact:
![](https://wiki.gandi.net/_media/fr/domains/management/rights/domain_rightmanagement01-en.

[2017-04-19 18:51] ei8fdb commented on #84
@jancborchardt You can add me as tech-c/admin-c/bill-c if it helps.

I'll send you the personal email (I use for domain related stuff) in a mesage.

[2017-04-19 19:07] jancborchardt commented on #68
@elioqoshi you can also adjust it directly, that’s easier. :) And the font should be Open Sans, we use that everywhere. (At least so far.)

[2017-04-19 19:16] jancborchardt commented on #84
Ok, so now:

- Owner: @jancborchardt
- Administrative contact: @bnvk
- Technical contact: @ei8fdb
- Billing contact: who’s up for this? I just activated auto-renewal paid by my account for 5 years so you’ll not have to do anything, it’s mostly pro forma. :)

[2017-04-19 20:33] #19 closed

[2017-04-19 20:34] simonv3 commented on #59
I'm a consumer of Wikipedia, not an editor :P

[2017-04-19 20:35] simonv3 commented on #83
I did, but I didn't want to close it because @jdittrich might not agree with it being closed!

[2017-04-20 08:25] elioqoshi commented on #59
I'm a Wikimedia contributor but not on Wikipedia via articles. I find it quite discriminating that Wikimedia puts barriers like this for writers when there are contributors who are involved with Commons, Design, Event Organizing and more.

[2017-04-20 08:34] belenbarrospena commented on #84
@jancborchardt we owe you a few drinks for doing this :) We should also make sure there is enough cash in Open Collective to reimburse you.

[2017-04-20 08:38] belenbarrospena commented on #59
I am like @simonv3, just a consumer ;)

[2017-04-20 10:03] jdittrich commented on #83
Thanks to you both, I had a look at the page, and I consider my concerns to be addressed :-)

[2017-04-20 10:03] #83 closed

[2017-04-20 22:13] jdittrich opened #85 "write blogpost on discussions/analysis at Berlin Meetup"
**Reasons:** Share knowledge/Ideas, let others participate
**Task:** Write a blog post summarizing our  discussions/analysis at Berlin Meetup, as noted on the etherpads at
**What needs to be done:** Structuring topics, supplementing information, possibly collect quotes/statement, possible split subsections to people (like jan D. writes about earning trust, Jan M. a paragraph on the problems of get

[2017-04-22 13:25] jancborchardt commented on #17
Closing this just like the Facebook page issue. We should remove that account too @razetime

See also https://github.com/opensourcedesign/organization/pull/86 update of our community platform list.

[2017-04-22 13:25] #17 closed

[2017-04-22 13:26] jancborchardt commented on #17
Closing this just like the Facebook page issue. We should remove that account too @razetime @plastelina @rdbartlett

See also https://github.com/opensourcedesign/organization/pull/86 update of our community platform list.

[2017-04-23 01:44] jancborchardt commented on #18
Closing as it was clarified above:

The Medium and Facebook accounts are inactive and to be removed, as discussed in the relevant issues.

[2017-04-23 01:44] #18 closed

[2017-04-23 13:49] elioqoshi commented on #68
Well, no. The font was Montserrat for the Wordmark on the top bar. This is why I asked.

[2017-04-23 20:42] simonv3 commented on #18
Can we put this on the website somewhere @jancborchardt? Brand rules?

Or is that something we'll hammer out when we do the brand? Maybe during the summit?

[2017-04-24 20:10] m1guelpf commented on #50
@simonv3 @jancborchardt Just wanted to drop that https://github.com/orgmanager/orgmanager/issues/48 was just closed, and now you can set a custom message that will be displayed to users when they're invited. It's a good place to ask people to accept your invite and change their membership to public!

[2017-04-28 05:41] morevnaproject commented on #75
@cameralibre Thank you for the mention! Just want to clarify that RenderChan is not only rendering tool, but it also extend to some helper of managing your animation files. We also plan to extend it more to deep integration with file sharing platforms and file managing solution We have first prototype alive that enriches functionality  of Pydio with RenderChan rrendering features - https://sources

[2017-04-28 09:39] jancborchardt commented on #75
@morevnaproject cool! :)

If you want to integrate more with [Nextcloud](https://nextcloud.com) you’re very welcome! Just come over to #nextcloud-dev in IRC and let us know if you need anything.

[2017-04-28 18:31] morevnaproject commented on #75
@jancborchardt Thank you for the invitation! At the moment the main problem with NextCloud is that it doesn't support upload/download resume for big files. In my region internet bandwidth is starving and connection often gets broken. This is a serious issue, especially considering the size of our projects. Second issue is that upload for big amounts of data (especially with many small files) is ge

[2017-04-28 20:18] jancborchardt commented on #75
@morevnaproject please feel free to open an issue in our tracker at https://github.com/nextcloud/server/issues about that. :) Or let me know if we should continue on an issue tracker of your project.

[2017-04-28 20:27] jancborchardt opened #88 "Application to become an FSFE associated organization"
Similar to us becoming an Open Source Initiative affiliate (https://github.com/opensourcedesign/organization/issues/53) I’ve applied us to be come an FSFE associated organization: https://fsfe.org/associates/associates.en.html

This is the application document for transparency. Thanks a lot to @kirschner of FSFE, and to @hugoroy and Erik for the references!

# What is your mission?

Our goal is to

[2017-04-29 17:25] jancborchardt commented on #50
@m1guelpf awesome! :) @simonv3 can you maybe adjust that to ask people to accept and set their visibility to public?

[2017-04-29 18:13] jancborchardt commented on #68
@elioqoshi ah right, the body text is Open Sans, logo is Montserrat.

[2017-05-01 11:14] eppfel commented on #59
I have very few edits with two different accounts on german and english:
https://en.wikipedia.org/wiki/Special:Contributions/Eppfel
https://de.wikipedia.org/wiki/Spezial:Beitr%C3%A4ge/Eppfel
https://en.wikipedia.org/wiki/Special:Contributions/Anand87
https://de.wikipedia.org/wiki/Spezial:Beitr%C3%A4ge/Anand87

[2017-05-02 16:15] Incabell commented on #59
Hey everyone,

sorry I haven't gotten around to this yet. Jan and I set up an [etherpad](https://etherpad.wikimedia.org/p/opensourcedesign-summit) last time where we collected first ideas and links to helpful pages.

@elioqoshi you don't need to be a Wikipedia editor. Just a contributer in any way to any of the Wikimedia projects. It's just some type of restriction they have so not literally anyon

[2017-05-02 22:13] ninavizz commented on #74
Academia, over-dependence on research, and whitepapers, imho, are contributing more noise than signal, to most of the problem. Simply: Design is a process that has users at the center, and isn't about colors, graphics, or logos. Tools such as GitHub work great for distributed dev teams, but much of what makes UX successful in products, is team culture & processes—with all project priorities pointi

[2017-05-02 22:54] ninavizz commented on #74
This is a great example of a playbook kinda thing, created by 18F—the US gov's super kickass new(ish) digital services innovation group. It's for designers, by designers—and for designers in government agencies. Super simple, mostly visual, clearly demonstrative #dontmakemethink

https://methods.18f.gov/

[2017-05-03 12:45] grahamperrin commented on #74
[The User Organisation: Structure and Governance in an Open Source Project](http://eprints.brighton.ac.uk/15449/) (Jose Christian, 2015) – PhD thesis.

Abstract:

(Jose and I work for the same research centre.)

[2017-05-03 15:07] simonv3 commented on #50
I already did!

[2017-05-03 17:23] eppfel opened #89 "Add info about workflows (forum/github/...) into READMEs and Welcome message"

[2017-05-03 17:28] jancborchardt commented on #89
@ei8fdb can you add your writings here? :)

[2017-05-03 17:32] grahamperrin commented on #89
(Speech is barely audible in the Jitsi call …)

Is this issue the one that was mentioned in connection with steering people:

- to GitHub for some things
- to the forum for some things

– and so on?

[2017-05-03 17:36] eppfel commented on #89
@grahamperrin Yes

[2017-05-03 20:23] ei8fdb commented on #89
@eppfel @jancborchardt @jdittrich @evalica @simonv3 @belenbarrospena and everyone else: Does this capture some of what we're thinking? I've made some assumptions, so if they're terribly wrong please shred this and make improvements.

Rough notes on this from [today's meeting](https://github.com/opensourcedesign/events/issues/49#issuecomment-298992050)

## Using Github (GH)
The objective of using G

[2017-05-04 10:50] belenbarrospena commented on #74
@ninavizz I agree with pretty much everything you say, including the idea of creating a repository of methods that have worked for us in the context of FOSS projects.

However, I have to take issue with your statement about academic research contributing "more noise than signal". We stand in the shoulders of giants: in our day to day jobs we borrow heavily from multiple academic disciplines, and m

[2017-05-04 12:03] bnvk commented on #74
I think this conversation should be moved to the Discourse platform, no? I'm closing it, but re-open if I'm mistaken.

[2017-05-04 12:03] #74 closed

[2017-05-04 18:55] grahamperrin commented on #74
@jdittrich please: after the GitHub users in (at least) this topic are present at the forum, would you like this (one) issue to be migrated? Re: https://meta.discourse.org/t//46671/42 the migration service was unavailable for a few days, it's now operational.

(I'll test first with an issue that I created.)

[2017-05-04 20:28] ei8fdb commented on #74
@grahamperrin If it is possible to migrate this discuss to discourse, then yes please do.

Everyone here, except (I think) @ninavizz is on discourse. @ninavizz please do join our discourse forum. Its for these kind of discussions.

It's dead easy and you can log in with your GH username - https://discourse.opensourcedesign.net/ and click signup.

[2017-05-05 04:51] ninavizz commented on #74
Re: Discourse @ei8fdb: Cool, got it—thank you. Had not previously seen that, despite poking around to see how to participate.

On my prior comment: Absolutely, everything we do today was heavily informed by academia, and going forward academia will continue to inform what we do. No disrespect was at all intended to academic contributors, and I apologize for doing a poor job reflecting that in how

[2017-05-05 05:36] grahamperrin commented on #74
It's not my work, but thanks `:-)` … three days ago I had a chat with the author about additional things that were learnt through the research. I might see him again next Tuesday (monthly meetings of the Centre).

----

If you'd like to know more about my interests and experience, revisit https://discourse.opensourcedesign.net/t/-/41/22 in the **"say hi"** topic … maybe a few weeks from now. I'm n

[2017-05-08 07:59] dimitrieh commented on #62
Would like to attend most likely (UX Designer at GitLab here ;) ) Not sure yet if possible thought due to our own summit which perhaps takes place around the same time.

[2017-05-08 14:47] simonv3 commented on #62
Awesome @dimitrieh! Let us know if it ends up working, would love to have some of the folks from GitLab there :)

[2017-05-09 20:07] ei8fdb commented on #62
Hi @dimitrieh it'd be really great if we you'd be able to make it! I'm a fan of Gitlab and we use it in work for "private projects". <can I say that on Github? 😆

Please keep in touch. Also, if you're interested please do join our Discourse for more open source design discussions: https://discourse.opensourcedesign.net/

[2017-05-09 21:49] jancborchardt commented on #62
@dimitrieh good stuff! Made sure to invite all the folks of the GitLab design team some time ago, would be really great if some of you can make it to our Summit!

[2017-05-10 04:58] dimitrieh commented on #62
Thanks for all the positivity ⭐️  We are discussing it in any case, dates will prob be very close ;)

Is the date for this event Mon 10/16 – Sun 10/22 correct? Or is it not set in stone yet?

thanks for the link, bookmarked!

[2017-05-10 10:51] morevnaproject commented on #75
Hello @jancborchardt! Thank you for answer and apologies for delayed answer.

Regarding the first issue, I found it is already submitted for your tracker (for upload) - https://github.com/nextcloud/server/issues/673

Regarding the resume of download: I would like to ask first - is it supported with current version of NextCloud? I.e., if I download big files, then connection gets broken and restore

[2017-05-10 14:49] simonv3 commented on #62
@dimitrieh the event is the 13th - 18th of october. See the website for up to date information http://opensourcedesign.net/summit/ :)

[2017-05-12 18:17] grahamperrin commented on #74
Over to you, @jdittrich – or any other administrator. At your leisure. Thanks.

[2017-05-12 18:51] jdittrich commented on #74
I did recreate the topic and some answers on discourse: https://discourse.opensourcedesign.net/t/overview-of-problems-chances-and-practices-of-integrating-ux-and-open-source-software-development-ideally-based-on-research/150/2

[2017-05-15 22:11] jancborchardt commented on #62
Closing this in favor of https://github.com/opensourcedesign/organization/issues/66 since this here has some outdated info and dates which are confusing to people. :)

[2017-05-15 22:11] #62 closed

[2017-05-19 16:03] jdittrich opened #90 "No images previewed in tweet if link to discourse"
According to @grahamperrin [on discourse](https://discourse.opensourcedesign.net/t/twitter-black-rectangles/166)  no images are previewed in a tweet if it links to discourse; it will just have a black rectangle, like this:

![image](https://cloud.githubusercontent.com/assets/3416487/26256467/55f556d0-3cbd-11e7-85ac-cb20d42349a4.png)
(image taken from @grahamperrin [discourse post](https://discours

[2017-05-20 12:13] grahamperrin commented on #90
# Tweeted 2017-05-15

With reference to a post that was made by pdurbin on 2017-05-14, https://twitter.com/opensrcdesign/status/864001489437642752

- is not bugged
- presents the avatar of the author of post 4 within a topic (not the opening poster):

![a tweet with the avatar of discourse user pdurbin](https://cloud.githubusercontent.com/assets/192271/26275618/efbc65a2-3d5c-11e7-9b5a-cc0bb4ce42e2

[2017-05-20 12:48] grahamperrin commented on #90
## A shortlist of tweets that are bugged

Not intended to be comprehensive.

https://twitter.com/grahamperrin/status/852496087873191936

- 2017-04-13
- https://t.co/Bzhw52yX1W
- https://discourse.opensourcedesign.net/

https://twitter.com/opensrcdesign/status/855146100956770306

- 2017-04-20
- https://t.co/DCRaaemES5
- https://discourse.opensourcedesign.net/

https://twitter.com/simonv3/status/855

[2017-05-20 15:09] grahamperrin commented on #90
https://twitter.com/grahamperrin/status/865947199955456000 seeks advice from Twitter Support.

[2017-05-20 15:56] grahamperrin commented on #90
I wondered whether the issue is avatar-specific.

Test tweet, link to https://discourse.opensourcedesign.net/t/cost-of-design-versus-cost-of-implementation/128/1?u=grahamperrin where simonv3 is the opening poster:

- fail (black rectangle).

Test tweet, link to https://discourse.opensourcedesign.net/t/cost-of-design-versus-cost-of-implementation/128/7?u=grahamperrin where post 7 in the same topic

[2017-05-21 02:02] grahamperrin opened #91 "README outdated"
[2017-05-02](https://discourse.opensourcedesign.net/t/contact-information/123?u=grahamperrin):

https://github.com/opensourcedesign/organization/blob/82e682be7eee5f95bbd833861a9f862d98b8370b/README.md#community appears similarly outdated.

[2017-05-21 02:30] grahamperrin commented on #89
## About

Also, the [`/about`](https://discourse.opensourcedesign.net/about) text should be less exclusive.

From [post 3](https://discourse.opensourcedesign.net/t/first-impressions-part-two/147/3?u=grahamperrin) under _First impressions, part two_:

![first impression of a tweet](https://cloud.githubusercontent.com/assets/192271/26280611/312c3b04-3dd3-11e7-9e04-a98beebeb00f.png)

From the previou

[2017-05-21 03:22] grahamperrin commented on #89
To see for yourself how the `/about` text appears in tweets: https://twitter.com/opensrcdesign/status/855146100956770306

[2017-05-21 07:34] grahamperrin commented on #90
Interesting, a test tweet a few _minutes_ ago with reference to https://discourse.opensourcedesign.net/t/first-impressions-part-two/147/6?u=grahamperrin presented a cropped version of an image that ceased appearing in that post (6) a few _hours_ ago:

![2017-05-21 08-20](https://cloud.githubusercontent.com/assets/192271/26282031/1a244c8a-3e00-11e7-88c0-8a0f64f91dee.png)

![qw8wkrhg](https://cloud.

[2017-05-21 13:57] jdittrich commented on #90
Some sort of background info: The black image is not hotlinked but stored at twitter, so it is not very easy to find out *what* twitter drags in.

[2017-05-21 15:04] grahamperrin commented on #90
Thanks.

From https://discourse.opensourcedesign.net/t/-/166

I have a very vague recollection, from the first day(s) of admin, that SVG did not work as expected in at least one context. SVG aside, for a moment …

----

At a glance, without reference to what's specified in the basic requirements area of admin preferences: http://opensourcedesign.net/images/opensourcedesign-logo-text.png strikes me

[2017-05-21 15:33] grahamperrin commented on #90
https://github.com/discourse/discourse/blob/6a746c931a3d6e3614b3f2c724fa74d7d69bf67c/config/locales/server.en.yml#L973 specifies shapes but not sizes for `logo_url` and `logo_small_url`

I'll search Discourse Meta for recommendations (if any) on size.

[2017-05-21 15:44] grahamperrin commented on #90
From [post 9](https://meta.discourse.org/t/what-is-the-ideal-size-of-logo-file/10837/9) (2015-09-14) under _What is the ideal size of Logo file?_:

[2017-05-21 16:02] grahamperrin commented on #90
:exclamation:

@jdittrich please what's in your admin preferences for these two fields?

- `default_opengraph_image_url`
- `twitter_summary_large_image_url`

### Related

- https://github.com/discourse/discourse/blob/6a746c931a3d6e3614b3f2c724fa74d7d69bf67c/config/locales/server.en.yml#L1185
- [Facebook OpenGraph images not working on the homepage](https://meta.discourse.org/t/facebook-opengraph-i

[2017-05-21 17:39] grahamperrin commented on #90
From the Card Validator, for a card with a black rectangle:

[2017-05-22 12:11] jdittrich commented on #90
Do you know where they can be found? In the link you send is a text file, but as far as I am concerned, we can only access the Admin dashboard and there I could not find it.

[2017-05-22 12:32] grahamperrin commented on #90
There's a search field, find-as-you-type if I recall correctly.

Chat: are you a user of Riot? If not I can join you in IRC, if you like.

[2017-05-22 12:34] Incabell commented on #59
Quick question, will the weekend part be mostly an internal thing or do we explicitly want people from outside to join and visit the summit? I'm also till a bit confused as to how many people we expect and the format of the whole thing. Can anyone enlighten me?

[2017-05-22 15:36] jdittrich commented on #90
For both parameters, it is this value: http://opensourcedesign.net/images/opensourcedesign-logo.png – which calls up an image which just looks fine to me.

[2017-05-22 15:47] grahamperrin commented on #90
Thanks.

I wonder whether we'll resolve the problem by using a 280 x 150 image for `twitter_summary_large_image_url`

[2017-05-22 15:49] jancborchardt commented on #59
@Incabell the weekend part will be welcoming to newcomers too of course. :) However it's focused on getting involved and being active.

As format I think a barcamp/unconference style is best, where at the start of the day everyone can suggest topics and we will have sessions to discuss and work on them. We should have 2 or 3 tracks at most so there are not that many conflicts, and sessions of arou

[2017-05-22 16:17] grahamperrin commented on #90
Try this 280 x 150 for `twitter_summary_large_image_url`

![opensourcedesign-logo-280x150-rough](https://cloud.githubusercontent.com/assets/192271/26318214/53e4d210-3f12-11e7-8ebe-3bc853551885.png)

It's very rough (certainly not the proper typeface) but IMHO good enough for short-term test purposes. Can't look worse than the black rectangle `:-)` – if this works around the issue in a test tweet t

[2017-05-22 17:01] jancborchardt commented on #91
Good call, fix at https://github.com/opensourcedesign/organization/pull/92 :)

[2017-05-22 19:13] grahamperrin commented on #90
I ran a couple of previously bugged URLs through the Validator on mobile. No black rectangle.

[2017-05-22 19:55] simonv3 commented on #59
I'd be super impressed if we get 50 people coming! That'd be awesome.

[2017-05-22 19:56] #91 closed

[2017-05-23 08:18] grahamperrin commented on #90
Tuesday morning, reviewing this issue at a desktop computer: definitely some improvement.

Please, **what changed?** `twitter_summary_large_image_url` alone?

## Brief observations

Re: the shortlist above

https://twitter.com/RebelDevNews/status/860238514126016512 and the two other tweets that refer to the forum home page:

- no longer present a black rectangle :white_check_mark:
- now present a

[2017-05-24 05:15] grahamperrin commented on #90
## opensourcedesign-logo.png (512 x 512 pixels, 4.6 kB), Twitter Cards twitter:image

At the time of writing, it appears broken at (for example):

- http://iframely.com/debug?uri=https%3A%2F%2Fdiscourse.opensourcedesign.net%2Ft%2Fexamples-for-scenarios%2F102
- http://iframely.com/debug?uri=https%3A%2F%2Fdiscourse.opensourcedesign.net%2Ft%2Ffunding-getting-paid-and-designing-for-floss%2F116
- http:

[2017-05-24 13:41] jdittrich commented on #90
@grahamperrin the links look fine to me– maybe it was a caching issue?

[2017-05-24 15:29] grahamperrin commented on #90
Checked at a different computer, on a different network: opensourcedesign-logo.png still appears broken in all three examples.

(Hint: click the _Twitter Cards_ tab.)

[2017-05-26 15:11] grahamperrin commented on #90
Back to https://discourse.opensourcedesign.net/t/twitter-black-rectangle-no-image-in-some-tweets-that-refer-to-pages-in-the-discourse-opensourcedesign-net-domain/166/3?u=grahamperrin – and if the issue can't be addressed by local staff then please call `@discourse` into that topic. Thanks.

[2017-05-28 12:38] pdurbin commented on #90
I just noticed the black rectangle at https://twitter.com/philipdurbin/status/868795340354400256 and I agree that it would be great to fix this somehow. Is there anything I can do to help?

[2017-05-28 13:19] grahamperrin commented on #90
@pdurbin thanks, I added your example to the shortlist above.

https://discourse.opensourcedesign.net/t/-/166/7?u=grahamperrin seeks advice from `@discourse`.

[2017-06-06 18:21] jancborchardt commented on #66
We just talked about it in the call again and we need to specify what the summit is for. In general it is more for pushing Open Source Design as an organization, and getting all designers working in open source together. It is _less_ for doing design jobs of a specific project, it is about exchange. :)

It would be best if we put these rough ideas what we can talk about on the summit website, as w

[2017-06-20 07:11] dimitrieh commented on #66
@elioqoshi @eppfel @jdittrich @Incabell @evalica @bnvk @simonv3 @jancborchardt Reaching out for GitLab UX team here. We are actively discussing this OSD event internally and if we want/can attend 😄 . However we would like to know some more specifics on what the event is actually about/for.

It seems a great deal is about moving the organisation & website forward, which is great, but we are not sur

[2017-06-20 15:13] jancborchardt commented on #66
@dimitrieh that would be great! :) Since we have 4 days (with 2 core days) there should be plenty of space to accomodate this.

And in general if you have speakers for these topics, please also make sure to hand them in at our next Open Source Design track, for example at FOSDEM or FOSSASIA. :)

[2017-06-27 20:47] dimitrieh commented on #66
Hi I wanted to leave the following statement: We (ux team at GitLab) decided that this is for now not yet the right event to go to as a complete team. We reached this decision as this event is more focussed on brainstorming how to proceed with the open source foundation rather than discussing and talking about the topics suggested in my previous comment. We collectively wish everyone the best of t

[2017-06-27 21:11] jdittrich commented on #66
@dimitrieh Thanks for letting us know. Pity, I would have loved to have the conversations you suggested! (particularly Research and tools)

(Alternatively, though not as nice as real life: [our discourse](https://discourse.opensourcedesign.net/))

[2017-06-27 21:12] tessgadwa commented on #66
When and where is the Summit?

On Jun 27, 2017 2:11 PM, "jdittrich" <notifications@github.com> wrote:

[2017-06-28 15:09] simonv3 commented on #66
@tessgadwa It's going to be in Berlin the week of the 13th to the 18th.

Everything that's been decided so far is on the website: http://opensourcedesign.net/summit/

Weren't we settling on an unconference direction where attendees could decide what they wanted to focus on? (with some general structure and themes decided beforehand?)

[2017-06-28 19:15] tessgadwa commented on #66
Thanks. Agenda looks great so far. I'm in USA (Pacific Coast) but if I can, I'll try to make it out there...

[2017-06-28 19:37] tessgadwa commented on #66
@dimitrieh the topics below seem to me like they would be a good fit.

Open Source Design - Goals, Culture, Values etc (primer into why we are here)
Open source and its influence on Design
Design Discussion - Exploration/Direction Sprinting and Defining MVP's
UX Research - Finding and Validating - Persona's, Quantitative & Qualitative research
Design within Organisations - Balance, position and in

[2017-06-28 20:02] tessgadwa commented on #66
also invite anyone and everyone to contribute to the discussion and also share info about this conference on https://riot.im/app/#/room/#designUX:matrix.org

[2017-06-28 23:02] jancborchardt commented on #66
@tessgadwa we already use the channel #opensourcedesign also :) But yes, please spread the info about the conference!

@dimitrieh hm, that's a bummer. It is an unconference where everyone contributes to the program, so it would be cool if at least one of you can make it. :) But yes in any case please join our forum at https://discourse.opensourcedesign.net as @jdittrich mentioned.

[2017-06-28 23:04] jancborchardt commented on #85
@jdittrich were some posts written? :) Or how come the issue is closed?

This seems still a topic to be tackled. So I would say we should keep this open, no? cc @simonv3 @victoria-bondarchuk @evalica

[2017-06-29 13:58] evalica commented on #85
Well this issue seems to be about the Berlin meetups so not sure how I can help.

[2017-06-29 14:49] jdittrich commented on #85
– sorry, I thought it was resolved already.

[2017-06-29 16:25] jancborchardt commented on #85
To prevent confusion, when closing an issue there should always be a comment with how it was resolved. ;)

[2017-07-04 15:21] jancborchardt commented on #88
We are now accepted and listed as FSFE associate on https://fsfe.org/associates/associates.en.html :)

Just a tiny issue: We have not set up https yet (ref https://github.com/opensourcedesign/opensourcedesign.github.io/issues/31) so the link needs to be changed to http – I mailed @kirschner about that.

And a todo for us: We should add the FSFE logo with link to our [about page](http://opensourced

[2017-07-04 15:37] belenbarrospena commented on #88
Well done Jan! :)

On Tue, Jul 4, 2017 at 4:21 PM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2017-07-04 20:22] elioqoshi commented on #88
Great news! Thanks Jan!

[2017-07-11 17:30] tessgadwa commented on #66
Is the Berlin Summit confirmed and happening for sure? Would like to purchase plane tix.

[2017-07-11 20:23] simonv3 commented on #66
As far as I'm concerned it's definitely happening. I'm planning my October travels around it (but I also have other reasons to be in Europe, so there's that)

[2017-07-16 20:52] jancborchardt commented on #66
Yup, same here! :)

Please do RSVP / get a ticket using the OpenCollective functionality @simonv3 posted about: https://discourse.opensourcedesign.net/t/open-collective-event-for-summit/245 so we can gauge how many people are interested.

[2017-07-16 21:06] tessgadwa commented on #66
Ticket purchased!

On Jul 16, 2017 1:52 PM, "Jan-Christoph Borchardt" <notifications@github.com>
wrote:

[2017-07-26 15:33] jancborchardt opened #94 "Dlvr.it acting up sometimes"
There's sometimes tweets like this:
https://twitter.com/opensrcdesign/status/886892237363085312

With just the dlvr.it link, on top of it to a past event. Any idea about this @simonv3 @bnvk @belenbarrospena @ei8fdb @evalica @jdittrich? Could we make sure that doesn't happen – and if you fixed it please also delete the tweet, I only left it there so you can see. :)

[2017-07-26 15:45] simonv3 commented on #94
I have no idea who set up the dlvr.it thing :(

[2017-07-27 11:06] bnvk commented on #94
I set it up. I noticed that as well. Clearly the issue seems to not be on
Dlvr.it's side but via Github / Jekyll in generating the RSS from our site.

In the events RSS feed, you see there is an empty title of the first item:

http://opensourcedesign.net/events/feed.xml

Beyond that, the source of that specific event is here:

https://github.com/opensourcedesign/events/blob/gh-pages/_posts/2016-03

[2017-07-29 15:11] pdurbin commented on #66
With input from @jancborchardt I just created pull request https://github.com/opensourcedesign/events/pull/79 which contains the summit schedule as I understand it. Does it look right?

I'd love to come but it depends a lot of if my talk for an event in San Francisco for early October is accepted or not. I can only be away from my kids so long.

[2017-07-29 15:13] pdurbin commented on #59
Has the venue been finalized? I simply wrote "Berlin" in pull request https://github.com/opensourcedesign/events/pull/79 that I just made.

[2017-07-31 17:54] peapoll commented on #57
I really like that logo, but I think it needs some color splash to freshen the logo up a little. I made a example and provided some suggested colors to play around with. Make use of it as you wish! :)

![logo_color](https://user-images.githubusercontent.com/30602609/28790474-7f5ac7bc-7629-11e7-8c00-b8ade19c0f1f.png)

SVG:
[logo_color.svg.zip](https://github.com/opensourcedesign/organization/files/

[2017-07-31 19:45] dimitrieh commented on #66
I just booked my ticket and lodging for Berlin and will be joining the event on the 18th! Will look forward to join you guys for a day! Excited to meetup, learn and see how things will progress for the open source design foundation/organisation.

Will try to dive somewhat deeper in all the content here in the coming days/weeks 😉

[2017-07-31 19:47] tessgadwa commented on #66
Sweet! Do you know about tomorrow's call?

On Jul 31, 2017 3:45 PM, "Dimitrie Hoekstra" <notifications@github.com>
wrote:

[2017-07-31 19:50] dimitrieh commented on #66
@tessgadwa no i don't :) would be happy to join, although i have quite some meetings every tuesday.. can you refer me to a place with more info on that?

[2017-07-31 19:54] tessgadwa commented on #66
Here's the info:
http://opensourcedesign.net/events/open-source-design-monthly-online-meeting/

On Jul 31, 2017 3:50 PM, "Dimitrie Hoekstra" <notifications@github.com>
wrote:

[2017-07-31 20:18] dimitrieh commented on #66
@tessgadwa cool, thanks. Will try to see if I can join tomorrow! 😉

[2017-07-31 21:04] HeikoTietze commented on #66
Will join the OSD summit on Sunday, latest to the after party, as the LibreOffice conference ends on Saturday.

[2017-08-01 17:33] jancborchardt opened #95 "Open Source Design Summit attendance & actual session proposals"
Since we now approach more concrete planning for the Summit, we should start thinking about topics, workshops and sessions everyone wants to do. :)

# Meta:

- Start: Introductions session / Status for OSD community (at the beginning)
- Start: Unconference / Brainstorming about what we want to discuss at the Summit
- Lunch / Dinner planning (time)

# Workshops so far:

- @victoria-bondarchuk propo

[2017-08-01 17:38] jancborchardt commented on #95
I will be there the whole time. :)  And I’d like to talk about how we can organize multiply ourselves:
- achieving a serious look for our website and a coherent system
- having showcases for well-designed open source projects & products ready to use, and for design tools & resources
- conferences we can talk at or organize design tracks at, design as well as open source ones
- getting more designe

[2017-08-01 17:39] tessgadwa commented on #95
@jancborchardt  Hi I'm in. Would love to talk about best practices for UX in open source, sharing case studies and specific examples.

[2017-08-01 17:43] evalica commented on #95
I've created this Doodle http://doodle.com/poll/b44zgm4ksm3pf5hw to see participation per days.
Let me know if it needs improvements/refinements

[2017-08-01 22:51] pdurbin commented on #95
As I mentioned on the [Monthly Open Source Design call](https://discourse.opensourcedesign.net/t/monthly-open-source-design-call/253) today, I'm not sure if I can make it to the summit. If my JavaOne talk is accepted, I'll be in San Fransisco instead. If my JavaOne talk **isn't** accepted, I still need to figure out if there's funding for me to travel to Berlin. Sorry to be so squishy. I should kn

[2017-08-02 13:27] jancborchardt commented on #94
Deleted the tweet. Can we also set it so that it posts the actual link instead of a dlvr.it masked link like at https://twitter.com/opensrcdesign/status/891800461061181440

Because with the masked link, Twitter doesn’t generate any preview box, and it also looks a bit shady.

[2017-08-08 17:45] belenbarrospena commented on #95
I've updated the Doodle poll. I expect to be there over the weekend, although there is a chance I might be able to stay for the whole thing. We'll see :)

About sessions, I would like to spread the word about Open Source Design between what I call (for lack of a better word), the "mainstream" design community. The idea would be identifying key design conferences (UXPA, IA Summit, EuroIA, Interacti

[2017-08-08 22:05] jancborchardt commented on #94
Happened again August 2: https://twitter.com/opensrcdesign/status/892746569102934020

Deleted the tweet already but would be good to get this fixed. I’d say even deactivating it is better than having these broken-looking links to outdated events in there. :\

[2017-08-08 22:08] jancborchardt commented on #59
@Incabell @elioqoshi can you confirm that Wikimedia for the weekend (14–15) and Mozilla for the weekdays (16–17) is fixed? :)

[2017-08-09 02:00] pdurbin commented on #95
I just found out that my [talk][] in San Francisco was accepted (yay!) so I definitely won't be able to attend the Open Source Design Summit because I can't be away from my kids and family for too long. I hope the summit is a great success and that I can attend next year!

[talk]: http://wiki.greptilian.com/talks/2017/javaone-how-to-run-an-open-source-project

[2017-08-09 03:23] simonv3 commented on #95
Congrats @pdurbin! Sorry to hear it, but makes sense :)

[2017-08-17 09:25] jancborchardt commented on #95
@simonv3 @evalica can you also fill out the doodle? :) Also cc @victoria-bondarchuk @bnvk @Incabell @jdittrich @mkfnch

[2017-08-17 16:46] simonv3 commented on #95
Done! I'm pretty blank on topics at the moment. Kind of just want to do a workshop / brainstorm / hack session on revamping our website.

[2017-08-17 22:30] ei8fdb commented on #95
This is a pity for us but a great thing for you. I hope the talk goes
really well. Hope to see you next year.

On Wed, 2017-08-09 at 02:00 +0000, Philip Durbin wrote:

[2017-08-26 12:52] elioqoshi commented on #59
@jancborchardt Sorry, I'm on this already. It should be fine, I just need Mike Henretty, who is an employee in the office to file a ticket to reserve the space. He is on PTO right now and returns 4th September. I'm not a contractor anymore at the time being so I couldn't file a ticket.

[2017-08-27 20:00] jancborchardt commented on #59
@elioqoshi cool, thanks! :) @Incabell @jdittrich is everything set for Wikibär (or Wikimedia office) too? :)

[2017-08-30 02:28] tessgadwa commented on #59
Are we doing another call for September?

On Sun, Aug 27, 2017 at 1:00 PM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

--

Tess Gadwa

Chief Executive Officer
_______________________________

Yes Exactly, Inc. | yesexactly.com | 413.325.8251

[2017-08-30 15:38] simonv3 commented on #59
I've got a calendar event for the 5th of September, yeah.

[2017-09-05 17:14] evalica commented on #95
Small status / planning session for FOSDEM

[2017-09-05 17:14] evalica commented on #95
Introductions session / Status for OSD community (at the beginning)

[2017-09-05 17:16] evalica commented on #95
Unconference / Brainstorming about what we want to discuss at the Summit

[2017-09-05 17:18] jdittrich commented on #95
**Talk/Discussion Proposal:** UX debt and why it is a particular problem for open source projects.
**Description:** UX debt is the equivalent to [technical debt](https://en.wikipedia.org/wiki/Technical_debt): Incoherence of approaches, lack of internal standards, quickly implemented, but not clean additions. Same exists for UX. The trouble is that UX debt is exposed to the user: In contrast to cod

[2017-09-05 17:18] tessgadwa commented on #95
@jancborchardt @jdittrich I'd be interested in talking about structural and systemic issues affecting usability and FOSS. Wondering if a "best practices for UX in open source" might be better as a collaborative session for an unconference and/or workshop.

[2017-09-05 17:24] jancborchardt commented on #59
An update on the venue:
- the weekend unconference (14–15) we can do at WikiBär of Wikimedia. I just put it up at https://de.wikipedia.org/wiki/Wikipedia:WikiB%C3%A4r/Kalender – waiting for @Incabell to confirm (we might also be at Wikimedia offices, but WikiBär is very cool!)
- the hacking Monday-Tuesday (16–17) we do at the new Mozilla office community space. @elioqoshi will contact @mikehenrty

[2017-09-05 17:25] evalica commented on #95
Lunch / Dinner planning (time)

[2017-09-05 17:45] jdittrich opened #96 "Hosting visitors for Open Source Design Summit"
This ticket is for requesting and/or offering a place to sleep in Berlin – for fun and/or because a hotel is too €€€ e.g. for students or so.

[2017-09-05 18:04] jancborchardt commented on #68
I would say that our new square logo with Montserrat Bold is a pretty good current logo. It’s already a bit known by people so it would not be that wise to change it around. We mainly wanted to change it to fix the trademark conflict, and that we did.

I’d close this issue hence. :) If you feel differently, feel free to comment.

[2017-09-05 18:04] #68 closed

[2017-09-05 18:07] jancborchardt commented on #66
Please also make sure to
- comment in the thread on Open Source Design Summit attendance & actual session proposals #95
- answer in the Doodle http://doodle.com/poll/b44zgm4ksm3pf5hw to see participation per days
- RSVP / get a ticket on the Open Collective page: https://opencollective.com/opensourcedesign/events/opensourcedesign-summit (tickets are unlimited, just to see how many people will come

[2017-09-07 07:37] cameralibre commented on #95
I would like to run a 1-2 hour version of an 'analog open source collaboration' workshop like the one I've proposed for Mozfest: [Cut, Copy & Paste: Use (analog!) open source collaboration to make your own MozFest Zine](https://github.com/MozillaFoundation/mozfest-program-2017/issues/472).

The primary aim would be for us to invite some non-open-source designer friends to come and co-create with u

[2017-09-07 08:10] digitigrafo commented on #95
hi, I'll be in Berlin at the summit on 16 and 17 of october. I like to do a small talk about "Redesign comment platform". I'm involved in this project http://www.scholio.net/ and I like to share the info that I  collected about: which are the commons problems, what propose critical thinking, cases of study. thanks

[2017-09-07 10:12] jdittrich opened #97 "Sponsoring for summit (or generally)"
**Story:** As OSD we want to provide some Pizza, Stickers, younameit at our event

We talked about this at our recent call; It was briefly mentioned that:

* There are some orgs that might sponsor
* That we might not want to be sponsored by some orgs we find unethical.

[2017-09-07 10:13] jdittrich commented on #97
A friend pointed out that poc21 had a wide range of interesting sponsors: http://www.poc21.cc/

[2017-09-07 11:02] evalica commented on #97
Sponsoring can be done through our OpenCollective page https://opencollective.com/opensourcedesign

[2017-09-07 13:11] jancborchardt commented on #94
Newest tweet too, just a dlvr.it link. @bnvk could you look into it?

I'd prefer us needing to post manually over having strange looking link-only posts.

[2017-09-07 16:30] simonv3 commented on #95
@digitigrafo I think the actual talk days will probably be the 14th or 15th, will you be in Berlin one of those days? It'd be great to hear it if you are!

[2017-09-07 18:49] pkruithofjr commented on #95
Excited to know there is an open-source event!

Unfortunately, I'm taking a few courses at the Nielsen|Norman UX Conference in Chicago until October 13th and likely unable to attend (although flights are not terribly expensive.)

Two collaborators and I are proposing a talk at the UXPA annual conference in Puerto Rico on user experience within the OpenStack community, but it hasn't been reviewed f

[2017-09-07 19:02] tessgadwa commented on #95
I'd like to present a talk / Q&A on the following topic:

* Systemic and Structural Challenges for the Open Source Design Community *

This talk will cover some of the economic and organizational barriers to
full participation by designers and ux professionals with the FOSS world.
For example, designers typically earn a lower hourly rate than programmers
and may have less free time to give to proj

[2017-09-07 19:13] digitigrafo commented on #95
On 07.09.2017 18:30, Simon wrote:

no sorry, I'll arrive in berlin 15th night.

[2017-09-07 19:14] pkruithofjr commented on #95
This is our proposal to UXPA:

*Open to whom?: An overview of the evolution of open-source software and how users are impacted*

This presentation will include a portrayal of the OpenStack open-source community, which includes a discussion of the differences in how software development is driven within open-source communities versus traditional enterprise environments.

In addition, there will be

[2017-09-07 19:20] pkruithofjr commented on #95
BTW. Excited to have discovered this group!

[2017-09-17 18:10] jancborchardt commented on #59
@Incabell @elioqoshi can you please confirm the venues? :) I think that’s the main thing blocking people from booking.

[2017-09-17 18:28] #84 closed

[2017-09-17 18:53] alorwu commented on #84
I'd like to be the Billing contact if it's not a problem. I just joined recently though. Really want to get involved.

[2017-09-17 22:04] jancborchardt commented on #84
@alorwu we generally wait with adding people for such core things once they have been around for some time, met others in person etc. :)

[2017-09-18 19:38] elioqoshi commented on #59
Was it? It's 100% confirmed. I just talked today again and they blocked 16 and 17th at the Mozilla Community Space for us.

[2017-09-26 18:40] belenbarrospena commented on #95
I joined the weekly call today. It was just me and @tessgadwa

We had a very interesting conversation about FOSDEM and other various things :)

She had some feedback for us regarding how little information is available in [the Summit page](http://opensourcedesign.net/summit/). She suggested adding some information about the programme there.

I haven't been much in touch with the Summit organisatio

[2017-09-26 20:20] simonv3 commented on #95
That's my understanding, though people have already started suggesting things and making proposals for things here.

[2017-09-26 21:02] Incabell commented on #59
Same goes for WikiBär :)

[2017-09-26 21:03] Incabell commented on #59
Sorry for the late reply...

[2017-09-26 21:31] Incabell commented on #97
Hey everyone! Here's my first [draft of the Förderantrag](https://de.wikipedia.org/wiki/Benutzerin:Incabell/OSDS). It's in German so anyone who can, please let me know what to fix or feel free to do so yourself. It's a wiki! I can hand it anytime we feel comfortable with it.

[2017-09-27 09:11] evalica commented on #97
@Incabell it looks fine and ambitious :) since the event is approaching fast, hope there will be enough time for the request to be approved.

[2017-09-27 09:43] Incabell commented on #97
alright, to not waste any more time, i will hand it in now. we can still make changes on the go.

[2017-10-03 19:28] h-nes commented on #95
hello everyone,

i want to participate Sat + Sun (Sun most likely only the morning - hope there are sessions scheduled?)

Besides some occasional involvement during my regular job with the open source world, I'm quite new to the FOSS community. I will bring my professional background as a design lead at IXDS but unfortunately not in a presentable format/talk. My main question seems to be very much

[2017-10-04 00:55] simonv3 commented on #95
I'll be making up a schedule based on the initial submitted talks and workshops. I thought it would make sense to have talks generally on Sunday morning and to use saturday morning for getting to know each other, game storming some things, some "tell us about your projects" kind of events, and maybe using saturday afternoon as a workshop, go work on specific things kind of afternoon. Sunday aftern

[2017-10-04 13:09] jancborchardt commented on #95
@simonv3 sounds great! :) Thank you!

[2017-10-04 16:10] pdurbin commented on #95
I just thought I'd mention that I gave my talk last night and mentioned Open Source Design on slide 7:

<img width="650" alt="screen shot 2017-10-04 at 9 01 54 am" src="https://user-images.githubusercontent.com/21006/31186232-f08c2bec-a8e2-11e7-9000-0ca64a16d4cb.png">

You can download the slides from https://twitter.com/philipdurbin/status/915607171097702400

Also, went to another talk called [Bo

[2017-10-09 10:14] elioqoshi commented on #97
Super duper great job @Incabell !

As I'm not in Berlin I'm not the best to handle logistics, but I'd be happy to help with poster or stickers design if any Berliners know a good place where to print.

Again, great news, thanks for leading this!

[2017-10-09 10:43] HeikoTietze commented on #97
Wouldn't be enough for [Reinstoff](http://www.reinstoff.eu) but maybe [Strandbad Mitte](http://www.strandbad-mitte.de/). No idea about catering.

[2017-10-09 11:01] evalica commented on #96
Duplicate of https://github.com/opensourcedesign/organization/issues/65
Also check https://github.com/opensourcedesign/organization/issues/97#issuecomment-335115032

[2017-10-09 11:01] evalica commented on #64
Duplicate of https://github.com/opensourcedesign/organization/issues/97

[2017-10-09 11:03] evalica commented on #66
Related to https://github.com/opensourcedesign/organization/issues/95

[2017-10-09 11:06] evalica commented on #97
That's great @Incabell. Thanks for handling this.

For the Hotel rooms might be a bit late, since people already got reservations, but it's great nevertheless.

@simonv3 wanted ( https://github.com/opensourcedesign/organization/issues/95#issuecomment-334020951 ) to do a schedule outline and he might know how the snacks / lunch might fit in the schedule.

Regarding stickers, that would be great. La

[2017-10-09 15:58] Incabell commented on #97
maybe people can still cancel reservations and only lose the deposit which would still be cheaper than paying the whole thing?

Or maybe we're lucky and someone hasn't booked yet :) anyway, the option is out there. I just need to know by Thursday if anyone wants a room because otherwise the hotel will give away the rooms to someone else.

[2017-10-09 17:43] victoria-bondarchuk commented on #97
@Incabell Charlie this is great news! Thank you for all the work!
I and @bzz would like one room if possible.

We arriving on 13th and if any help needed with catering please count on us!

[2017-10-09 17:56] simonv3 commented on #66
## Proposed Schedule:

Time: | Saturday | Sunday
-- | --------| --------
10:00 - 12:00 | Introductions, what you been up to? Petcha Kutcha style. | Talks!
12:00 - 13:00 | Lunch | Lunch
13:00 - 13:30 | Unconference workshop proposal time (suggest workshops, voice interest in workshops) | Unconference workshop proposal time
13:30 - 15:00 | Workshops 1 | Workshops 3
15:00 - 16:30 | Workshops 2 | Work

[2017-10-10 10:33] Incabell commented on #97
hey @victoria-bondarchuk and @bzz Is that two rooms or one for you both?

All I need is the full names of both of you and your time of arrival.

[2017-10-10 11:42] dimitrieh commented on #97
Great to see this coming to a realisation. I am not too engaged due to high workload, but will be looking forward to attend the event. I have secured a place to sleep myself through airbnb a while ago already 😉

see you there!

[2017-10-10 11:43] dimitrieh commented on #66
Where is the schedule for wed 18th, if any? :)

[2017-10-10 13:02] Incabell commented on #97
I personally won't have time to order stickers or posters so if someone has time to do this it would be great if they could handle it. We can't have it directly delivered to wikiBär so either you could sent it to Wikimedia Deutschland oder have it made at a place where we can pick it up.

If there's a possibility to buy it via Rechnung (where you can pay after receiving it) that would be best, but

[2017-10-10 15:28] simonv3 commented on #66
@dimitrieh I won't be there on the 18th, and had been under the impression that the organized activities would be happening on the weekend and that the following days would be much less structured and dependent on the stuff that gets done on the weekend.

cc @jancborchardt any ideas?

[2017-10-10 16:17] jancborchardt commented on #97
I'll look into the posters and stickers (and snall business cards advertising the job board.

Posters and business cards will be easy at a printer next to my place. Stickers I have to check, maybe possible via Flyeralarm express. If not we'll have those at FOSDEM. :)

[2017-10-10 19:31] jancborchardt commented on #64
The funding we get from Wikimedia thanks to @Incabell basically takes care of all of this. Since it’s a comment at https://github.com/opensourcedesign/organization/issues/97#issuecomment-335115032 (the issue @evalica also linked) I’ll close this here. :)

[2017-10-10 19:31] #64 closed

[2017-10-11 14:16] Incabell commented on #97
Alright, so i talked to Merle and moving money around is not possible (unlike what I had speculated in yesterday's hangout).

This means that we can't use leftover money for food on Monday and Tuesday and we can't book rooms outside of the original time frame which is Friday-Sunday.

Sorry about that :(

I still haven't sorted out the drinks but will try and arrange that today.

No one else has re

[2017-10-11 19:16] Incabell commented on #97
I have ordered some drinks for us. I hope it's enough and if not then we still have some drink money left to get some on Saturday. I was only able to order 7 crates from Rewe which is kinda strange but oh well. It'll be fiiiiiiine :D

[2017-10-11 20:22] jancborchardt opened #99 "Summit info mail"
This is what I would mail out tomorrow morning to the people who RSVPd on the [Open Collective event](https://opencollective.com/opensourcedesign/events/opensourcedesign-summit). Let me know if you have any feedback:

-------------------

Hey there! :)

**It’s nearly time for our very first Open Source Design Summit, this weekend in Berlin! Just some last info before we get started:**

**Friday**

[2017-10-13 12:41] dimitrieh commented on #99
@jancborchardt what about wednesday? :)

[2017-10-13 14:13] jancborchardt commented on #99
@dimitrieh we don’t have an official venue on Wednesday but as some of us are in Berlin, we could definitely meet up! :) Maybe it’s good to simply meet somewhere like betahaus café, or what do you think @Incabell @jdittrich @simonv3 @elioqoshi @bnvk (and whoever is still there on Wednesday). Maybe we can get the Mozilla space on Wednesday too just for people who are still there?

[2017-10-13 20:27] rasmusskjoldan commented on #66
Hey. I was hoping to join on the last day - but it seems only "departure" is planned for Wednesday :-) I will be in Berlin though. Does anything else happen that day? Otherwise hit me, if we can meet anyway.

[2017-10-13 20:32] rasmusskjoldan commented on #99
Hey @jancborchardt @dimitrieh et al. I'll come to Berlin for that last day (Wed) and would really love to meet if someone's still around :-)

[2017-10-15 09:43] elioqoshi commented on #99
We can ask at Mozilla on Monday if we can get it on Wednesday as well

[2017-10-15 21:35] jsonin opened #101 "US/Boston event?"
Tried the chat (http://chat.opensourcedesign.net/), but it wasn't responding.

Saw that there was a NYC meetup in September.
How was that turn out?
What projects were born (or died) there?

There is a chunk of OS designers in the Boston area, from MITRE to MIT to small studios (like goinvo.com), who could be wrangled to support an event. I could possibly support an event, house a 50person day-long

[2017-10-15 21:45] tessgadwa commented on #101
I am in Boston about 50% of the time and can rearrange my schedule for
events from time to time. If we get a meetup going I will try to be there.

On Oct 15, 2017 5:35 PM, "Juhan Sonin" <notifications@github.com> wrote:

[2017-10-15 22:06] jsonin commented on #101
Super.

I can organize and host it (at our studio, goinvo.com).
Shoot for mid December, to give us time to get 1 good talk + interested people?

[2017-10-16 11:23] digitigrafo commented on #99
I'm coming in the mozilla office. see you soon.

[2017-10-16 11:42] jancborchardt commented on #101
@jsonin @tessgadwa all the meetup stuff is in our forum at https://discourse.opensourcedesign.net/c/meetups :)

There is already a thread for Boston even with some interested folks: https://discourse.opensourcedesign.net/t/boston-ma-usa/111/3 – so let’s continue there. @jsonin would be awesome if you can host it! :)

(I’ll close this so we’ll continue in the existing forum thread.)

[2017-10-16 11:42] #101 closed

[2017-10-16 18:56] rasmusskjoldan commented on #99
Cool :-) I could join anytime between 11am and 5pm.

[2017-10-20 21:29] bnvk commented on #61
Took a stab at outline some of the ideas here in the [FAQ page](http://opensourcedesign.net/faq/)

[2017-10-21 07:25] simonv3 commented on #61
looks good to me.

[2017-10-21 14:37] jancborchardt commented on #61
@bnvk yep, looks great! :) I'd only say we should avoid using the acronym "OSD", especially in headings, as acronyms are often confusing.

[2017-12-10 06:32] 19cah opened #102 "I would like to join Open Source Design"
Hi, I am really excited about the active development and wanted to be a part of the Open Source Design organization on GitHub. I would love if somebody would add me to it
Regards, Abraham.

[2017-12-10 11:58] m1guelpf commented on #102
You can use OrgManager to join this organization: https://orgmanager.miguelpiedrafita.com/join/4183553

[2017-12-10 18:55] simonv3 commented on #102
@m1guelpf's org manager is how you join! Thanks for your interest @19cah! Also have a look at our forum where most conversation happens https://discourse.opensourcedesign.net/

[2017-12-11 05:02] 19cah commented on #102
@simonv3 thanks for letting me be part of Open Design, hope to help you out & collaborate with you guys!

[2017-12-11 06:59] m1guelpf commented on #102
@19cah Closing this as it has been solved 😄

[2017-12-11 06:59] #102 closed

[2018-02-02 14:34] jancborchardt commented on #53
Aaand I adjusted the qualifications according to the feedback and finally sent the application in. :) Open Source Design has developed a lot since then (for example becoming FSFE associate, getting a forum, organizing even more design events) so it seems we have some solid qualifications.

[2018-02-02 16:30] ei8fdb commented on #53
\0/

Fingers crosse it all goes. Well. See you in Bruselas. :)

On 2018-02-02 15:15, Jan-Christoph Borchardt wrote:

[2018-02-07 14:29] evalica commented on #99
Closing since the event has passed!

[2018-02-07 14:29] #99 closed

[2018-02-07 14:29] evalica commented on #96
Closing since the event has passed!

[2018-02-07 14:29] #96 closed

[2018-02-07 14:29] evalica commented on #95
Closing since the event has passed!

[2018-02-07 14:29] #95 closed

[2018-02-07 14:30] evalica commented on #97
Closing since the event has passed! Thanks Wikimedia for the sponsorship!

[2018-02-07 14:30] #97 closed

[2018-02-07 14:30] evalica commented on #66
Closing since the event has passed!

[2018-02-07 14:30] #66 closed

[2018-02-07 14:30] evalica commented on #65
Closing since the event has passed!

[2018-02-07 14:30] #65 closed

[2018-02-07 14:30] evalica commented on #59
Closing since the event has passed! Thanks Wikimedia for the location!

[2018-02-07 14:30] #59 closed

[2018-02-07 14:30] evalica commented on #57
Closing since the event has passed!

[2018-02-07 14:30] #57 closed

[2018-02-07 14:31] evalica commented on #44
Can this issue be closed?

[2018-02-07 15:01] dimitrieh commented on #95
Event was great!! 👍

[2018-02-08 09:53] elioqoshi opened #103 "Open Source Design Summit 2018 - Location"
After some talks at 34c3 and FOSDEM I think it's time to kick off the discussions to start planning the Open Source Design Summit this year. While the last one was quite productive, we might want to adapt the format to our needs. In the meantime, a great first step would be to settle for a location for the 2018 summit. Let's add proposals and votes in the following

[2018-02-08 10:10] elioqoshi commented on #103
Editing

[2018-02-08 10:28] elioqoshi commented on #57
And 2018 edition discussion goes here :)
https://github.com/opensourcedesign/organization/issues/103

[2018-02-10 09:07] jancborchardt commented on #103
Is there any organization (maybe local, maybe open source) which could sponsor? In Berlin we had/have Wikimedia, who sponsored stickers and such, as well as potentially 5 hotel rooms (either none or only one was used though cause it was late). Mozilla maybe?

[2018-02-10 20:53] elioqoshi commented on #103
Pretty sure that we will be able to find sponsors for the equivalent of what Wikimedia sponsored. Ura should be able to take on some costs as well eventually.

[2018-03-15 19:33] jancborchardt opened #104 "Team created by new member"
Hey @R2in, you just joined our organization, created this team https://github.com/orgs/opensourcedesign/teams/twcotw, and requested the core team to be parent of that. What's up with that? :)

cc @opensourcedesign/core

[2018-03-15 20:51] m1guelpf commented on #104
According to a quick Google search, TWCOTW seems to mean "The Worst Collection On The World"

[2018-03-15 21:23] jancborchardt commented on #104
@m1guelpf looking at @R2in's profile it seems to mean "Thoso Without Courage, Oppress The Weak."

@simonv3 the audit log says you invited @R2in, is that correct? Seems like it might have been @m1guelpf's auto-adding tool? If we have people joining who modify things like add groups and start projects with cryptic unrelated names, we might have to get rid of that automatic mechanic … :/

[2018-03-15 21:55] simonv3 commented on #104
Yeah, is there a way to make sure that they can't just create repositories when being a member?

[2018-03-15 22:26] ei8fdb commented on #104
Something tells me it's a bot. If I am wrong I'll apologise to @R2in, in person.

[2018-03-16 08:38] jancborchardt commented on #104
@simonv3 just limited that to owners. It's a bit of a bummer we have to do that, but better than losing stuff. :/
Creating (and maybe editing/deleting) teams doesn't seem to be possible to limit? Will contact Github support.

[2018-03-16 10:33] ei8fdb commented on #104
@m1guelpf In which case I apologise to you @R2in.

[2018-03-19 19:55] elioqoshi commented on #103
No other comments here? I remember there was a lot of enthusiasm last year, did that fade away? :)
I'd love to do another summit, even if it's just 10 of us. I think we can pull off a great one this year as well.

[2018-03-19 20:39] ei8fdb commented on #103
We spoke at 34c3 about the next summit. I remember Elio suggesting Tirana.

I suggested to him to put together a number of proposals - a large <to be defined>, a medium <to be defined>, a small <to be defined> venue proposal with venues, their agreement in principal, important things like that.

Right now flights (with 1 connection) are ~ £200 in September.

I also said I'd support his suggestion

[2018-03-19 20:53] elioqoshi commented on #103
@ei8fdb I don't really know what other details might be needed. But yeah, worst case scenario, I can ask nicely at the hackerspace to host the summit for free (as in free beer). It should be able to host 20 people (or 25 even). For bigger venues, we would need to go to 3rd parties, which is no problem as well, but not in my direct control. In any case, we can take care of the venue and make sure n

[2018-03-19 20:57] ei8fdb commented on #103
That's exactly what I am saying you might need to think about. ;)
Would the Hackerspace agree to host it for free, if needed?

[2018-03-19 21:02] elioqoshi commented on #103
Definitely.

[2018-03-20 04:24] victoria-bondarchuk commented on #103
I support this idea. Difficult to say in advance, but I hope to attend if nothing goes wrong. Thank you @elioqoshi for volunteering with this idea and Ura for organizing it! Let me know if there anything I could help with.

[2018-04-09 10:27] jancborchardt commented on #103
What do the others think: @Incabell @jdittrich @simonv3 @belenbarrospena @dmichl @evalica? :)

[2018-04-09 16:08] simonv3 commented on #103
Round trip flights are not as awfully priced as I thought they would be for me. How expensive are train rides across Europe these days?

[2018-04-10 08:35] elioqoshi commented on #103
Just a note: It's impossible to get to Albania via train, as there are simply are none :)
If you want to have an adventure, you can get a train to Bari or Brindisi, Italy and take a ferry from there to Durres, which is a 40min drive from Tirana. It's not convenient and probably not really cheaper than a flight, but might be fun if you are into that.

[2018-04-10 12:26] dmichl commented on #103
Thanks @elioqoshi for kicking off and suggesting a new location! I love and support the idea but I'm most likely not going to be able to make it out to Albania this year unfortunately. It's not just Albania, I think if it were London or Berlin I might be able to make a trip (i'm traveling a lot already this year, and I don't believe I'll have the time/budget for another europe trip) - but too hard

[2018-04-10 13:58] elioqoshi commented on #103
Completely understand! As I said, the generally higher flight prices completely balance out the cheaper accommodation and food prices. Maybe we can figure out supporting individuals in the future in some way if the main blocker is budget related.

[2018-04-10 14:39] dmichl commented on #103
think we could do webex??

[2018-04-10 14:51] elioqoshi commented on #103
We can try setting up some remote sessions I suppose

[2018-04-18 09:38] elioqoshi commented on #103
Hey folks, Doodle is up for dates selection:
https://doodle.com/poll/p4c77mncdt2x534t|

If you can make it, please choose the dates which work best for you.
If you are still unsure because of budget reasons, but would like to come, please fill it out as well.

As I said, the other folks at Ura and me will cover the logistics at least and if things go well, we might be even able to find travel spon

[2018-04-18 09:52] elioqoshi commented on #53
Do we have any updates on this?

[2018-04-18 18:54] simonv3 commented on #53
Last I saw was Jan trying to ping them again.

[2018-04-23 21:16] elioqoshi commented on #103
Seems 2-4 November are the most popular dates. I will wait a little bit more before going ahead with that, depending on the interest from others.

[2018-04-24 18:44] dachary commented on #103
Are there archives of how the previous event was organized?

[2018-04-25 12:32] elioqoshi commented on #53
If there is no update @jancborchardt I can ping them as well (Italo is quite responsive)

[2018-04-25 16:05] elioqoshi commented on #53
Okay, so it seems OSI is having a meeting next Monday/Tuesday in San Francisco where they will be discussing this.

[2018-04-25 18:46] massonpj commented on #53
@jancborchardt Do you mind sending it to me directly, masson@oepnsource.org?

[2018-04-29 06:37] gregorynicholas opened #105 "consider gnu license"
* proposing use of gnu over mit to enforce downstream copyleft ethos
* see https://www.gnu.org/philosophy/open-source-misses-the-point.en.html

[2018-04-29 19:46] jancborchardt commented on #105
Seems good to me, I would use AGPLv3+. cc @simonv3 @evalica @bnvk @belenpena

[2018-04-30 08:06] elioqoshi commented on #105
+1

[2018-04-30 08:10] elioqoshi commented on #103
@dachary there are some issues in this repo. It has been pretty self-organized in an empirical way and we didn't really follow an agenda. We hope to have it more structured beforehand this time

I think we came to a decision of 2-4th November 2018.
This collides with OpenFest Bulgaria so please take that into account https://www.openfest.org/2017/en/2018/02/03/save-the-date-openfest-2018/
With so

[2018-05-01 08:33] belenbarrospena commented on #105
I know very little about licensing (although I agree with the GPL approach). Happy to go with any decision the group makes.

[2018-05-07 10:49] jancborchardt commented on #104
For the record, I now removed @R2in from the organization. Reasons:
- No feedback or communication from them at all in this thread or anywhere else.
- Merged a pull request (https://github.com/opensourcedesign/opensourcedesign.github.io/pull/169) without any comment. It was non-disruptive, but still it’s not how we work in the open.
- Creating strange teams with names as if spraying graffiti tags,

[2018-05-28 11:17] jancborchardt commented on #105
Updated the license to AGPv3. :)

[2018-05-28 11:17] #105 closed

[2018-05-30 17:04] jancborchardt commented on #105
@gregorynicholas well thank you for pointing it out. :) Contributions of any kind are welcome.

[2018-06-05 17:32] jancborchardt commented on #53
@massonpj sorry, only saw this now – I sent the mail to you (with our core group in cc). Let us know if there is anything we need to adjust, we didn’t have any feedback so far but are happy to fix stuff which is missing. :)

[2018-06-06 17:33] jancborchardt opened #106 "🚨 ATTENTION: Let’s please use our forum for organizational topics https://discourse.opensourcedesign.net 💬"
Please don’t open new issues here anymore as we have our awesome [Open Source Design forum](https://discourse.opensourcedesign.net/) :tada:

[2018-06-24 00:02] elioqoshi opened #107 "Summit 2018 Website"
Hey folks, as discussed in our last call, I started with the OSD Summit website design. This is what I have right now:

![web 1920 1](https://user-images.githubusercontent.com/5436686/41814600-9cb6533c-7752-11e8-91e1-01515af5a22d.png)

Please note that we will add more sections once the event is closer, but at this moment I thought it would be best to keep those sections (maybe not even the map ye

[2018-06-24 13:15] AnXh3L0 commented on #107
Hi everyone,
The mockup has been implemented and I have commented the location for the moment as it is not yet finalized. You can check the website here with live preview from my localhost: https://d73c4eb5.ngrok.io/summit/ (if you find this website down please ping me because it is online as long as my computer is on) or see the video below for a short preview.

![video](https://user-images.githu

[2018-06-25 10:18] evalica commented on #107
Looking good. From an usability perspective I think the Support action is more visible than Register, so this is something we could improve. Also there are some font-size inconsistencies, but in general I like it :) Good job.

[2018-06-25 12:19] ei8fdb commented on #107
Yup, I agree with @evalica's comment.

In terms of the user of this (i.e. potential attendees), I would suggest the information order (in order of importance) is:

1. when
2. where
3. support

Just a suggestion: what might also be helpful (certainly for someone who is not familiar with international travel to Albania) is how to get to Tirana.

[2018-06-25 12:54] elioqoshi commented on #107
We need to get something quick up and running. Once we know the venue and the schedule (please help with that as well) we can include that as well.

@evalica Anxhelo is going to create a PR soon. Feel free to tweak it. This is a first draft and a big improvement over what we had last year.

Also some comments about the color would be appreciated as it's a first.

[2018-06-25 13:19] jancborchardt commented on #107
It’s good! I agree with @evalica’s comment too but that can indeed be changed later.

However, a bigger issue I see is that you can’t easily get from there to the main page, or the job board, or see other aspects of the site. I’d say we should use the main page navigation on top to properly integrate it into the site, like we did for https://opensourcedesign.net/summit/ (Cause it’s not a microsite

[2018-06-25 14:30] elioqoshi commented on #107
In fact @AnXh3L0 did that already, unlike my mockups. The header in his PR is the same as of the current OSD website.

[2018-06-28 11:32] evalica commented on #107
First iteration committed by @AnXh3L0 in https://github.com/opensourcedesign/opensourcedesign.github.io/pull/179

[2018-06-29 15:30] evalica opened #108 "Create a "Partnership" page on our website"
Or find another solution in order to display our affiliations: FSFE, EFF, etc.

[2018-07-02 15:04] jancborchardt commented on #108
I’d say we should directly show them on the frontpage, before the footer.

[2018-07-02 15:04] jancborchardt commented on #107
Should we close this as https://github.com/opensourcedesign/opensourcedesign.github.io/pull/179 has been merged? :)

[2018-07-02 15:22] evalica commented on #107
Code of Conduct link still broken

[2018-07-03 08:05] AnXh3L0 commented on #107
@evalica I have added the link to the CoC, we can merge the changes.

[2018-07-03 10:54] evalica commented on #107
This can be closed. Thanks

[2018-07-03 13:32] evalica commented on #107
I think the assignee should be AnXh3L0 since he did all the hard work :)

[2018-07-03 18:56] Mayankjh opened #109 "Please Help Me Join The community"
Hi i just wanted to know how can i join the community

[2018-07-03 18:58] alexgleason commented on #109
Welcome, @Mayankjh!

What are you looking to get out of the community?

There is also a forum you can join: https://discourse.opensourcedesign.net/

[2018-07-03 19:02] Mayankjh commented on #109
I have Just Dived into the Open source and want to start contributing to some organisations with my subject of interests...

[2018-07-03 23:20] jancborchardt commented on #109
@Mayankjh awesome! :) As @alexgleason said it’s best to join the forum at https://discourse.opensourcedesign.net/, and also check out all other resources available on our website at https://opensourcedesign.net :)

If you want to do design for specific projects, the best entry point is our [Open Source Design job board](http://opensourcedesign.net/jobs/].

Welcome! :)

[2018-07-03 23:20] #109 closed

[2018-07-05 12:12] jancborchardt commented on #107
Assignees are automatically removed when it’s closed I think, at least I did not do it manually. :) Assigned both Elio and Anxhelo for their design & development work. :)

[2018-10-13 15:54] milapbhojak opened #110 "Initiating Open Source Design Bangalore Chapter"
Dear community,

Milap here from India, I design at eGovernments Foundation. I have been a part of this amazing community for a few years now. I see 37 teams are listed from different countries. I and a few friends of mine thought to initiate open source design bangalore chapter.

**Why Bangalore Chapter?**
- Bengalore has about 35-40% of the software engineers in the country.
- It has the most nu

[2018-10-16 08:31] GouravSardana opened #111 "Add me"
Please add me into your organization!

[2018-10-16 08:34] m1guelpf commented on #111
Use this link to join: https://orgmanager.miguelpiedrafita.com/join/4183553

[2018-10-16 10:20] #111 closed

[2018-11-11 10:08] jancborchardt commented on #111
@GouravSardana also join our forum at https://discourse.opensourcedesign.net :)

[2019-01-30 00:04] massonpj commented on #53
Hi @ei8fdb & @jancborchardt -- sorry, looks like this slipped off my plate. I just saw your email to Simon. Let me check in with the Board to see where we are and I will get back to you ASAP.

[2019-01-30 08:13] ei8fdb commented on #53
Hi @massonpj that's great. Thanks for this. If you need any more information, jut let us know.

If you're at FOSDEM you're very welcome to drop along to the Open Source Design devroom in AW1.120 on Saturday.

[2019-04-14 13:48] stepfencurryxiao opened #112 "Why can't I join the organization?"
Hi
My name is StephenCurry.I want join the organization.
But I got:

               Oops
you need to prove you are not a robot

[2019-04-14 13:58] stepfencurryxiao commented on #112
How to verify that I'm not a robot？

[2019-04-19 11:57] #112 closed

[2019-04-19 11:59] jancborchardt commented on #112
Hey @stepfencurryxiao – the "join the organization" was an old way to join the Github organization. But that’s only one part of Open Source Design. If you want to really get involved, best just join our forum at https://discourse.opensourcedesign.net/ – and introduce yourself in the introductory thread. :)

[2019-04-20 00:10] stepfencurryxiao commented on #112
Ok,thank you:)

[2019-08-27 12:15] jancborchardt commented on #75
Just for info @jcklpe since the thread is already a bit older: We mostly moved from using GitHub for communication like this to our forum at https://discourse.opensourcedesign.net – be welcome there and feel free to open a thread about it there. :)

(We do still use GitHub, but for specifically working on the website.)

[2019-11-21 15:02] jancborchardt commented on #88
Just found that this seems to be the only place where our core email address was in plain text, likely the leak and cause of spam. Sorry about that.

Also tried to fix the last issue, that the FSFE site uses https for our link (Gitea is complicated so it takes a bit longer): https://git.fsfe.org/FSFE/fsfe-website/issues/1163 – after that is merged we can close this. :)

[2020-08-20 10:33] Victorybrown commented on #21
how come there are few comments on this? This is a good issue for people who want to write articles but don't know how to about it. @razetime why don't you add some labels to it.

[2020-08-20 11:04] Victorybrown commented on #28
also the interview can be made into an article

[2021-11-01 06:22] Paty0444 opened #115 "Provecho"

[2021-11-01 10:11] ZoranPandovski commented on #115
Hello @Paty0444, can you please add more information?

[2021-12-05 17:40] thuongtruong1009 opened #116 "Let me join you organization"
Hi guys!
My name is Tran Nguyen Thuong Truong - come from VietNam
I want to join your organization to learn more and more open-source code.
Thank you very much!

[2021-12-07 21:37] ei8fdb opened #117 "Can we make a submission form for events?"
We have a submission form for jobs, why don't we have one for events? It'd make things much easier. People could submit events, and we could approve the PR (if it's relevant) or reject it if not.

I'd expect it to work the same way as for jobs submissions.

Is that possible? I have no way how to implement it tho'.

Thoughts @jancborchardt @SaptakS @AnXh3L0 @ZoranPandovski ?

[2021-12-07 21:42] ei8fdb commented on #116
Hi @thuongtruong1009 I've invited you to join the organisation. Let me know if there's issues.

Next thing is you should join our discourse: https://discourse.opensourcedesign.net and introduce yourself there. Best wishes.

[2021-12-08 02:21] thuongtruong1009 commented on #116
Thank you very much! Let go!

[2021-12-08 02:21] #116 closed, assigned to nobody

[2021-12-08 15:34] JayantGoel001 opened #118 "Join opensourcedesign organization"
Hello!
My name is Jayant Goel.
I want to join this organization to learn more about open-source code.
Thank you !!

[2021-12-08 15:45] ZoranPandovski commented on #117
@ei8fdb this is a great idea. Also, this will be a good time to document /jobs repo for development and maybe re-use it for events?

[2021-12-08 15:50] SaptakS commented on #117
I guess we were planning to move the jobs repo to the main repo, so probably we should solidify that plan and then proceed with the way we decide to have jobs in future.

[2021-12-08 15:55] ei8fdb commented on #117
Groovy!

@ZoranPandovski

@SaptakS

Could we do both - 1) as @SaptakS mentions, move the jobs repo into the main repo and then 2) as @ZoranPandovski mentions document it?

I can put together some designs on how I think the events submission form could work, and we can discuss it from there? I understand we're working with what's possible with Github pages and so on, so I'll try and keep it simple

[2021-12-08 16:00] SaptakS commented on #117
Sounds good to me! I will look into the jobs merging also.

[2021-12-15 12:57] Mystery-2-Dev commented on #118
Hello!
My name is Vansham Rastogi .
I want to join this organization to learn and work in open-source community.
Thank you !!

[2021-12-28 08:28] #118 closed, assigned to nobody

[2022-02-23 00:35] Arhell opened #119 "need update org logo for dark github theme"
![Screenshot_1](https://user-images.githubusercontent.com/26163841/155243353-6562f4e5-c389-43fc-a439-821121dec1b0.png)

[2022-05-06 16:18] iipranavii commented on #119
Submission for Logo in dark theme
![image](https://user-images.githubusercontent.com/67915580/167172276-3988eb1b-cc86-4c4e-8be6-c8c7abbbe787.png)

[2022-07-10 17:05] a91896 opened #120 "Organization"
How to create organization?

[2022-07-11 07:20] a91896 opened #121 "My organization"
Thanks

[2022-07-11 10:47] a91896 opened #122 "@a91896's 2021 GitHub Skyline"
https://skyline.github.com/a91896/2021

[2022-07-13 13:47] a91896 opened #123 "Articles - Microsoft Tech Community"
https://techcommunity.microsoft.com/t5/articles/bd-p/EdgeInsiderAnnouncements

[2022-07-15 15:54] #122 closed

[2022-07-16 16:36] a91896 opened #124 "Install GitLab Runner | GitLab"
https://docs.gitlab.com/runner/install/index.html

[2022-07-16 16:36] a91896 commented on #124
Thanks

[2022-07-17 11:49] a91896 opened #125 "VNC Basics - Andronix Documentation"

[2022-07-17 11:50] a91896 commented on #125
Thanks

[2022-07-17 11:50] a91896 commented on #125
Sun, July 17 , 2022

[2022-07-19 21:06] a91896 opened #126 "Hackathon in the Cloud - GitHub Education"
"Hackathon in the Cloud - GitHub Education" https://education.github.com/experiences/hackathon_in_the_cloud

[2022-07-19 21:07] a91896 commented on #126
Ok thanks

[2022-07-23 20:49] a91896 opened #127 "Comparing main...actions-test · microsoft/vscode-dev-containers · GitHub"
https://github.com/microsoft/vscode-dev-containers/compare/actions-test

[2022-07-25 09:20] ZoranPandovski commented on #127
Hey @a91896 can you please provide more info when you are opening the issues?

[2022-07-25 09:21] ZoranPandovski commented on #121
If you have any questions please check the community forums https://github.com/opensourcedesign/organization#community

[2022-07-25 09:21] #121 closed

[2022-07-25 09:21] ZoranPandovski commented on #120
If you have any questions please check the community forums https://github.com/opensourcedesign/organization#community

[2022-07-25 09:21] #120 closed

[2022-07-25 09:21] ZoranPandovski commented on #126
If you have any questions, please check the community forums https://github.com/opensourcedesign/organization#community

[2022-07-25 09:21] #126 closed

[2022-08-03 09:18] a91896 opened #128 "Enforcing repository management policies in your enterprise - GitHub Enterprise Cloud Docs"
https://docs.github.com/en/enterprise-cloud@latest/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise#enforcing-a-policy-for-inviting-outside-collaborators-to-repositories

[2022-08-03 09:24] a91896 commented on #128
@a91896 []()_**https://user-images.githubusercontent.com/108989417/182573280-318ea81e-5143-4f3b- - # [ ] -b657-16be837e1278.mp4~~~~**_Aug 3 2022.

[2022-09-08 23:28] #119 closed, assigned to nobody